# Environment Variables
.env
.venv

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Build artifacts
build/
dist/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg

# IDE-specific files (optional)
.idea/
.vscode/
*.swp
*~

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# OS-specific files (optional)
.DS_Store
Thumbs.db

datasets_memmap/
checkpoints/
wandb_logs/